/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-acwkuaa0 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0.master.item-box   {
		
						background-color: rgb(21, 21, 21);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-body h1  { font-size:calc( 10px + ( 13rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(168, 168, 168);
						
						letter-spacing: 0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-link-img  {
		
						width: 30px;
						
						margin: 5px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0  .preview-content-holder  {
		
						max-width: 500px;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						margin-bottom: 30px;
						
						background-color: rgba(121, 133, 149, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 15px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-element.icon-source  {
		
						padding-right: 0px;
						
						width: 40px;
						
						padding-left: 0px;
						
						margin-bottom: 10px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 5px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-acwkuaa0 .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(104, 104, 104);
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-eqdfmwoe version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .title-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .Title  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 300px;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						border-color: rgb(60, 60, 60);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-divider  {
		
						width: 10%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .background-div  {
			
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(60, 60, 60);
						
						letter-spacing: 0em;
						
						margin-top: 5px;
						
						font-family: Raleway;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(99, 99, 99);
						
						padding-bottom: 10px;
						
						border-color: rgb(122, 122, 122);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .stripe-background  {
		
						margin-top: -20px;
						
						margin-left: -6%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						width: 40px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .Subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-price  {
		
						font-family: Arial;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .blocks-preview-title  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(60, 60, 60);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-eqdfmwoe .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(60, 60, 60);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-vepelnsv version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv.master.item-box   {
		
						background-color: rgb(207, 207, 207);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-bottom: 10px;
						
						font-family: open-sans;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 800px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv #sr-basket-widget *  { 
						font-style: italic;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(221, 221, 221);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Times New Roman;
						
						background-color: rgb(159, 14, 14);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .item-content:not(.blocks_layout)  {
		
						background-color: rgba(55, 55, 55, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-body-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						font-family: Arial;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(161, 161, 161);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-vepelnsv .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-sfuade6i version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-801f5efe-sfuade6i .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-801f5efe-sfuade6i .Subtitle  ,  .master .style-801f5efe-sfuade6i .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-801f5efe-sfuade6i .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-801f5efe-sfuade6i .Title  ,  .master .style-801f5efe-sfuade6i .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-801f5efe-sfuade6i .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-801f5efe-sfuade6i .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-801f5efe-sfuade6i .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-801f5efe-sfuade6i .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-801f5efe-sfuade6i .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-801f5efe-sfuade6i .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-801f5efe-sfuade6i .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-801f5efe-sfuade6i.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						line-height: 1.5em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-idqfg7pl version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-bottom: 10px;
						
						font-family: open-sans;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 1000px;
						
						margin-right: 30px;
						
						margin-top: 20px;
						
						margin-left: 30px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl #sr-basket-widget *  { 
						font-style: italic;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(221, 221, 221);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Times New Roman;
						
						background-color: rgb(159, 14, 14);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-body-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(64, 64, 64);
						
						letter-spacing: -0.0em;
						
						max-width: 800px;
						
						font-family: Arial;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(184, 184, 184);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-idqfg7pl .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-f9nofk8q version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(16, 16, 16, 0);
						
						padding-left: 0px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .inner-pic  {
		
						opacity: 0.54;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .Field  {
		
						border-width: 0px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(57, 57, 57);
						
						max-width: 350px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(243, 243, 243, 0.89);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .Field:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(67, 67, 67);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .background-div  {
		
						opacity: 0.3;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-body h1  { font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q #sr-basket-widget *  { font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 30px;
						
						border-color: rgb(34, 34, 34);
						
						letter-spacing: 0.1em;
						
						padding-right: 40px;
						
						margin-top: 15px;
						
						padding-left: 40px;
						
						padding-top: 30px;
						
						margin-bottom: 30px;
						
						font-family: Montserrat;
						
						background-color: rgb(209, 31, 31);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .Field.no-value:not(:hover)  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgba(35, 35, 35, 0.99);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-bottom: 25px;
						
						font-family: Montserrat;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .field-holder  {
			
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-f9nofk8q .preview-body h2  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(207, 207, 207);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-n3np0otw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .title-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview.image-cover  {
		
						min-height: 250px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Title  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Body h1  { font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(243, 243, 243, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .item-content:not(.blocks_layout)  {
		
						background-color: rgba(30, 30, 30, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .item-links span  {
		
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(66, 117, 83);
						
						margin-left: 50px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .background-div  {
			
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-body h1  { font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-top: 20px;
						
						margin-bottom: 25px;
						
						font-family: Montserrat;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 2px;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .item-links  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .body-holder  {
		
						text-align: justify;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Body  {
		
						margin-bottom: 20px;
						
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-left: 50px;
						
						margin-right: 50px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .Body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						letter-spacing: 0.05em;
						
						margin-right: 50px;
						
						margin-top: 15px;
						
						margin-left: 50px;
						
						margin-bottom: 15px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .page-image-cover  {
		
						margin-bottom: 30px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .title-wrapper  {
		
						max-width: 1124px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .subtitle-wrapper  {
		
						max-width: 1114px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .body-wrapper  {
		
						max-width: 700px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0.99);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(168, 33, 33, 0);
							
		}
	
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-n3np0otw .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(142, 142, 142);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/







































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-56cih9ah version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah.master.item-box   {
		
						position: absolute;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						background-color: rgba(248, 248, 248, 0);
						
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(202, 202, 202);
						
						padding-bottom: 15px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-body h1  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-item-links.allow-bg-color  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-element.icon-source  {
		
						margin-right: 10px;
						
						width: 30px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-56cih9ah .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(179, 179, 179);
						
						letter-spacing: 0.3em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-801f5efe-u70ivu0c version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-title  ,  .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-body h1  { font-size:calc( 10px + ( 45rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: 'Raleway Heavy';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 750px;
						
						margin-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-item-links span  ,  .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 20px;
						
						font-family: Arial;
						
						background-color: rgb(161, 31, 31);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-item-links span:hover  ,  .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-element.icon-source  {
		
						width: 80px;
						
						margin-bottom: 25px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .inner-pic  {
		
						opacity: 0.58;
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 5px;
						
						line-height: 1.6em;
							
		}
	
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .background-div  {
		
						opacity: 0.3;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .middle_layout .helper-div  ,  .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-subtitle  ,  .style-801f5efe-sfuade6i .style-801f5efe-u70ivu0c .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(207, 207, 207);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


 .style-801f5efe-u70ivu0c #vbid-801f5efe-p4snlbqr .preview-content-holder{
				
							text-align : center;
					
				}









 .style-801f5efe-u70ivu0c #vbid-801f5efe-p4snlbqr .preview-content-wrapper{
				
							text-align : center;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
